<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Invoices</title>
</head>
<body>
{{> common/_navigation }}

<h1>New Invoice</h1>

<br>
<h3>Choose desired Billing Records</h3>
{{#error}}
	<h3>{{ error }}</h3>
{{/error}}

<form method="post" action="/invoices/create">
	<input required type="text" name="invoiceNumber" placeholder="invoice number">
	<table>
	  <thead>
	    <tr>
	      <th>Select</th>
	      <th>Created on</th>
	      <th>Created by</th>
	      <th>Description</th>
	      <th>Client</th>
	      <th>Fee</th>
	      <th>Rate</th>
	      <th>Quantity</th>
	      <th>Total</th>
	    </tr>
	  </thead>
	  <tbody>
	    {{#records}}
	      <tr>
	      	<td><input type="checkbox" value="{{ id }}" name="recordIds"></td>
	        <td>{{ createdOn }}</td>
	        <td>{{ createdBy.username }}</td>
	        <td>{{ description }}</td>
	        <td>{{ client.name }}</td>
	        <td>${{#amount}}{{ amount }}{{/amount}}</td>
	        <td>${{#rate}}{{ rate }}{{/rate}}</td>
	        <td>{{#quantity}}{{ quantity }}{{/quantity}}</td>
	        <td>${{ total }}</td>
	       </tr>
	    {{/records}}
	  </tbody>  
	</table>
		
	<br>
	
	<button>Create invoice</button>

	<input type="hidden" name="clientId" value=" {{ clientId }}">
	<input type="hidden" name="{{ _csrf.parameterName }}" value="{{ _csrf.token }}">
</form>

</body>
</html>