<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Billing Records</title>
</head>
<body>

<h1>Billing Records</h1>

<table>
  <thead>
    <tr>
      <th>Created on</th>
      <th>Description</th>
      <th>Client</th>
      <th>Fee</th>
      <th>Rate</th>
      <th>Quantity</th>
      <th>Total</th>
    </tr>
  </thead>
  <tbody>
    {{#records}}
      <tr>
        <td>{{ createdOn }}</td>
        <td>{{ description }}</td>
        <td>{{ client.name }}</td>
        <td>${{#amount}}{{ amount }}{{/amount}}</td>
        <td>${{#rate}}{{ rate }}{{/rate}}</td>
        <td>{{#quantity}}{{ quantity }}{{/quantity}}</td>
        <td>${{ total }}</td>
       </tr>
    {{/records}}
  </tbody>  
</table>

</body>
</html>