<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Welcome to Invoicify!</title>
</head>
<body>

<h1>Invoicify</h1>

{{> common/_navigation }}
{{#isAdmin}}
	<a href="/admin/companies">Companies</a>
	<a href="/admin/roles">Associate Roles</a>
	<a href="/invoices">Invoices</a>
	<a href="/billing-records">Billing Records</a>
{{/isAdmin}}
{{#isClerk}}
	<a href="/billing-records">Billing Records</a>
{{/isClerk}}
{{#isAccountant}}
	<a href="/invoices">Billing Records</a>
{{/isAccountant}}
</body>
</html>